// Following variables are used by winphone, mobile and compact themes only even
// thought that is not specified in the names to avoid long variable names.

.group {
  margin-top: 40px;
}

@media only screen and (min-width: 1240px) {
  .group {
    margin-top: 160px;
  }
}

.-groups-align-vertically .page .group {
  margin-left: 15px;
}

.-groups-align-vertically .page {
  padding-left: 0px;
}

.-theme-material .item { //}, .-theme-material .item-title, .-theme-material .item-subtitle {
  font-weight: lighter;
}

.pages-menu--item {
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
}

.camera-popup--list, .door-entry-popup--list {
  width: 160px;
}

.camera-popup--camera, .door-entry-popup--camera {
  width: calc(100% - 180px);
}

.item.-th-switch.-on, .item.-th-light.-on, .item.-th-fan.-on {
  background: #fff;
}